{% load static %}
<html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>BuyBay</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" ico href="../img/LO.png">
    <link rel="stylesheet" href="{% static "css/index.css" %}}">
    
    
</head>
<body>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="../img/LO.png">
                </div>
            </div>

            <div class="sidebar">
                <a href="index.html" >
                    <span class="material-icons-sharp">
                        home
                        </span>
                    <h3>Homepage</h3>
                </a>
                <a href="prof.html" class="active">
                    <span class="material-icons-sharp">
                        account_circle
                        </span>
                    <h3>Profil</h3>
                </a>
                
                
                <a href="categorie.html">
                    <span class="material-icons-sharp">
                        category
                    </span>
                    <h3>Categorie</h3>
                </a>
                <ul class="lis">
                    <a href="cars.html" id="a1" ><li><img src="../img/icons8-car-50 (1).png" width="15px"> Cars</li></a> 
                    <a href="im.html" id="a1"><li><img src="../img/icons8-home-50.png" width="15px"> Houses</li></a>
                    <a href="pie.html" id="a1"><li><img src="../img/icons8-watch-64.png" width="15px"> Accesories</li></a>
                    <a href="cars.html" id="a1"><li><img src="../img/icons8-laptop-50 (1).png" width="15px"> Laptop & Phones</li></a> 
                    <a href="pie.html" id="a1"><li><img src="../img/icons8-shoes-64 (2).png" width="15px"> shoes</li></a>
                    <a href="cars.html" id="a1"><li ><img src="../img/icons8-washing-machine-24 (1).png" width="15px"> home applience</li></a>
                    <a></a>
                </ul>
            </div>
        </aside>

        <main>
            
            <div class="sear">
                
                <a href="#">
                    <input type="text" placeholder="Search...">
                    <button type="submit" class="bouu"><img src="../img/sharp_search_black_18dp.png" alt=""></button>
                </a>
            </div>
           <!--cars-->
           <a href="cars.html"><div class="h1" style="padding-top: 10px;"><h1>Annonce</h1></div></a>
            <section class="sec3">
                <div class="blo-3">
                        <input type="file" class="inp" name="imageUpload" id="imageUpload" accept="image/*">
                        <input type="text" class="inp" placeholder="Marque">
                        <input type="text" class="inp" placeholder="modele">
                        <input type="number" class="inp" min="1" placeholder="Kilometrage">
                        <input type="number" class="inp" min="1970" max="2024" placeholder="annee">
                        <input type="text" class="inp" placeholder="Moteur">
                        <input type="text" class="inp" placeholder="energie">
                        <input type="text" class="inp" placeholder="Type">
                        <input type="text" class="inp" placeholder="Description">
                        <input type="text" class="inp" placeholder="Prix">
                        <input type="email" class="inp" name="email" id="" placeholder="E-mail">
                        <input type="number" class="inp" min="0540000000" max="0799999999" id="" placeholder="Phone">
                    <br>
                </div>
            </section>
            
        </main>
        <!-- end main content--> 
        <div class="cont">
            <div class="nav">
                <a href="#"><div class="add">
                    <span class="material-icons-sharp">
                        add_circle_outline
                    </span>
                </div></a>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
                <div class="prof">
                    <a href="profil.html"><div class="profi">
                        <img src="../img/pro.webp" style="width: 80%;">
                    </div></a>
                </div>

                
            </div>

            <div class="user-prof1">
                <img src="../img/pro.webp" class="img1"><br><br>
                <div class="logo">
                    
                    <span class="ico">
                        <i class="fa fa-user-circle"></i> 
                    </span>
                    <h2>Abdesselem habib</h2>
                    <span class="ico">
                        <i class="fa fa-hashtag"></i> 
                    </span>
                    <h2>Numero :#247</h2>
                    <span class="ico">
                        <i class="fa fa-user"></i> 
                    </span>
                    <h2>Etat : <img src="../img/icons8-green-circle-48.png" class="dot" width="12px" > Connecter</h2>
                    <span class="ico">
                        <i class="fa fa-volume-up"></i> 
                    </span>
                    <h2>Annonce : 0</h2>

                    <button class="but">
                        <span class="ico">
                            <i class="fa fa-pencil"></i> 
                        </span> Edit
                    </button>
                </div>
                    
                    
                
            </div>
            <br>
            
        </div>




    
    </div>
    <div class="Social">
        <div class="header1">
            <h2>Social Media </h2>
            <br>
                <a href="https://www.instagram.com/habib__mustapha/"><i class="fa fa-instagram" style="font-size:36px"></i></a>
                <a href="https://web.facebook.com/habib.mustapha.9210"><i class="fa fa-facebook" style="font-size:36px"></i></a>
                <a href="https://twitter.com/Habib49485244"><i class="fa fa-twitter" style="font-size:36px"></i></a>
                <a href="https://github.com/Habib1258"><i class="fa fa-github" style="font-size:36px"></i></a>
        </div>
        
        
    </div>
    <div style="margin-bottom: 200px;"></div>

    <script src="{% static "/JS/index.js" %}"></script>
       <!-- <script src="../JS/light.js"></script>-->

    

    

    
    

</body>
</html>