{% load static %}
<html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>BuyBay</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" ico href="{% static "img/LO.png" %}">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/car.css" %}">
    
    
</head>
<body>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{% static "/img/LO.png" %}">
                </div>
            </div>


            <div class="sidebar">
                <a href="index.html" >
                    <span class="material-icons-sharp">
                        home
                        </span>
                    <h3>Homepage</h3>
                </a>
                <a href="profil.html">
                    <span class="material-icons-sharp">
                        account_circle
                        </span>
                    <h3>Profil</h3>
                </a>
                
                <a href="categorie.html">
                    <span class="material-icons-sharp">
                        category
                    </span>
                    <h3>Categorie</h3>
                </a>
                <br><br>


                <div class="fil">
                    
                      <select id="category" onchange="showForm()">
                        <option value="none">Brand</option>
                        <option value="Volkswagen">Volkswagen</option>
                        <option value="Audi">Audi </option>
                        <option value="BMW">BMW </option>
                        <option value="Mercedes">Mercedes </option>
                        <option value="Seat">Seat </option>
                        <option value="Dacia">Dacia </option>
                        <option value="Renault">Renault </option>
                        <option value="Mitsubishi">Mitsubishi </option>
                      </select><br><br><br>

                      <select id="category" onchange="showForm()">
                        <option value="none">Type</option>
                        <option value="Coupe">Coupe</option>
                        <option value="wagon">wagon </option>
                        <option value="Sport">Sport </option>
                        <option value="Van">Van </option>
                        <option value="4x4">4x4 </option>
                        <option value="Suv">Suv </option>
                        <option value="Sedan">Sedan </option>
                        <option value="Mitsubishi">Mitsubishi </option>
                      </select><br><br><br><br>


                    <h3 class="filtre">Engine :</h3><br>
                    <input type="checkbox" id="1.0 - 1.5" name="1.0 - 1.5" value="1.0 - 1.5">
                    <label for="1.0 - 1.5"> 1.0 - 1.5</label><br>
                    <input type="checkbox" id="1.6 - 1.9" name="1.6 - 1.9" value="1.6 - 1.9">
                    <label for="1.6 - 1.9"> 1.6 - 1.9</label><br>
                    <input type="checkbox" id="2.0 - 2.5" name="2.0 - 2.5" value="2.0 - 2.5">
                    <label for="2.0 - 2.5"> 2.0 - 2.5</label><br>
                    <input type="checkbox" id="> 2.5" name="> 2.5" value="> 2.5">
                    <label for="> 2.5"> > 2.5</label><br><br>
                    <h3 class="filtre">Year :</h3><br>
                    <input type="number" id="annee1" min="1980" max="2024" placeholder="MIN">
                    <input type="number" id="annee" min="1980" max="2024" placeholder="MAX" ><br><br>
                    <h3 class="filtre">Mileage :</h3><br>
                    <input type="number" id="annee1" min="1" max="1000000" placeholder="MIN">
                    <input type="number" id="annee" min="1" max="1000000" placeholder="MAX" ><br><br>
                    <h3 class="filtre">Fuel :</h3><br>
                    <input type="checkbox" id="Petrol" name="Petrol" value=" Petrol">
                    <label for="Petrol"> Petrol</label><br>
                    <input type="checkbox" id="Diesel" name=" Diesel" value=" Diesel">
                    <label for="Diesel">  Diesel</label><br><br><br>
                    
                    <button type="submit"  class="but1">
                        <span class="material-icons-sharp">
                            tune
                        </span> <h3 class="h12">filter</h3></button>
                </div>

                
            </div>
        </aside>

        <main>
           
            <div class="sear">
                
                <a href="#">
                    <input type="text" placeholder="Search...">
                    <button type="submit" class="bouu"><img src="{% static "/img/sharp_search_black_18dp.png" %}" alt=""></button>
                </a>
            </div>
           <!--cars-->
           
            <a href="cars.html"><div class="h1" style="padding-top: 10px;"><h1>Cars</h1></div></a>
            {% for chunks in chunked_items %}
                <section class="sec2">
                    {% for car in chunks %} 
                        {% if car %}
                            <div class="blo-1">
                                <a href="item_car.html">
                                    {% if car.image %}
                                        <img src="buybay_logic/{{car.image}}" alt="{{ car.brand }}" width="100%">   
                                    {% else %}
                                        <img src="{% static 'buybay_logic/images/bmw.jpg' %}" alt="Default Image" width="100">
                                    {% endif %}
                                    <br>
                                    <h1>{{ car.brand }} {{ car.model }}</h1>
                                    <h3><strong>{{ car.des }}</strong></h3>
                                    <br>
                                    <h2>Prix : <span class="danger">{{ car.price }}</span></h2>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </section>
            {%endfor%}
            
            <br>
                
           
            <br>
            
        
            
        </main>
        <!-- end main content--> 
        <div class="cont">
            <div class="nav">
                <a href="new.html"><div class="add">
                    <span class="material-icons-sharp">
                        add_circle_outline
                    </span>
                </div></a>
                <a href="lo.html">
                    <span class="material-icons-sharp">
                        login
                    </span>
                    <h3>login</h3>
                </a>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
                <div class="prof">
                    <a href="profil.html"><div class="profi">
                        <img src="{% static "/img/pro.webp" %}" >
                    </div></a>
                </div>
            </div>

            <div class="user-prof">
                <div class="logo">
                    <img src="{% static "/img/LO.png" %}">
                    <h2>BuyBay</h2>
                    <h3>Discover, Bid, Buy - Your Way to Great Deals at BuyBay!</h3>
                </div>
            </div>
            <br>
            
        </div>




        
    </div>
    
    <div style="margin-bottom: 200px;"></div>

    <script src="{% static "/JS/index.js" %}"></script>
        

    

    

    
    

</body>
</html>