{% load static %}
<html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>BuyBay</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" ico href="{% static "img/LO.png" %}">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/car.css" %}">
    
    
</head>
<body>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{% static "/img/LO.png" %}">
                </div>
            </div>


            <div class="sidebar">
                <a href="index.html" >
                    <span class="material-icons-sharp">
                        home
                        </span>
                    <h3>Homepage</h3>
                </a>
                <a href="profil.html">
                    <span class="material-icons-sharp">
                        account_circle
                        </span>
                    <h3>Profil</h3>
                </a>
                <a href="#" class="active">
                    <span class="material-icons-sharp">
                        category
                    </span>
                    <h3>Categorie</h3>
                </a>
                

                <ul class="lis">
                    <a href="cars.html" id="a1"><li><img src="{% static "/img/icons8-car-50 (1).png" %}" width="15px"> Cars</li></a> 
                    <a href="im.html" id="a1"><li><img src="{% static "/img/icons8-home-50.png" %}" width="15px"> Houses</li></a>
                    <a href="pie.html" id="a1"><li><img src="{% static "/img/icons8-watch-64.png" %}" width="15px"> Accesories</li></a>
                    <a href="cars.html" id="a1"><li><img src="{% static "/img/icons8-laptop-50 (1).png" %}" width="15px"> Laptop & Phones</li></a> 
                    <a href="pie.html" id="a1"><li><img src="{% static "/img/icons8-jacket-50.png" %}" width="15px"> Clothing</li></a>
                    <a href="cars.html" id="a1"><li ><img src="{% static "/img/icons8-washing-machine-24 (1).png" %}" width="15px"> home applience</li></a>
                    <a></a>
                </ul>
            </div>
        </aside>

        <main>
            
            <div class="sear">
                
                <a href="#">
                    <input type="text" placeholder="Search...">
                    <button type="submit" class="bouu"><img src="{% static "/img/sharp_search_black_18dp.png" %}" alt=""></button>
                </a>
            </div>
           <!--cars-->
           
            <a href="#"><div class="h1" style="padding-top: 40px;"><h1>Categories</h1></div></a>
            <section class="sec3">
                
                <div class="blo-3">
                    <a href="cars.html"  rel="golf7">
                        <img src="{% static "/img/21647_m.jpg" %}" width="90%">
                        <br>
                    </a>
                    <h2 style="text-align: center; ">Cars</h2>
                </div>
                
                <div class="blo-3">
                       <a href="it1.html"><img src="{% static "/img/mac.png" %}" width="100%" >
                        <br>
                    </a>
                    <h2 style="text-align: center; ">Home Appliance</h2>
                </div>
                
                <div class="blo-3">
                        <a href="it2.html"><img src="{% static "/img/05_Watcheseng.png" %}" width="100%" >
                        <br>
                    </a>
                    <h2>parts & Accesories</h2>
                </div>
                
            </section>
            <br>
            <section class="sec3">
                
                <div class="blo-3">
                    <a href="it5.html">
                        <img src="{% static "/img/shoes.png" %}" width="100%" >
                        <br>
                        
                    </a>
                    <h2>Clothing</h2>
                </div>

                <div class="blo-3">
                    <a href="it4.html">
                    <img src="{% static "/img/p.webp" %}" width="100%">
                        <br>
                    </a>
                    <h2>Laptop & hones</h2>
                </div>
                
                <div class="blo-3">
                    <a href="it6.html">
                        <img src="{% static "/img/d6.jpg" %}" width="100%" >
                        <br>
                    </a>
                    <h2>Houses</h2>
                </div>
                
            </section>
            <br>
            
        </main>
        <!-- end main content--> 
        <div class="cont">
            <div class="nav">
                <a href="new.html"><div class="add">
                    <span class="material-icons-sharp">
                        add_circle_outline
                    </span>
                </div></a>
                <a href="lo.html">
                    <span class="material-icons-sharp">
                        login
                    </span>
                    <h3>login</h3>
                </a>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
                <div class="prof">
                    <a href="profil.html"><div class="profi">
                        <img src="{% static "/img/pro.webp" %}" >
                    </div></a>
                </div>

                
            </div>

            <div class="user-prof">
                <div class="logo">
                    <a href="ab.html"><img src="{% static "/img/LO.png" %}"></a>
                    <h2>BuyBay</h2>
                    <h3>Discover, Bid, Buy - Your Way to Great Deals at BuyBay!</h3>
                </div>
            </div>
            <br>
            
        </div>




    
    </div>
    <div class="Social">
        <div class="header3">
            <h2>Social Media </h2>
            <br>
                <a href="https://www.instagram.com/habib__mustapha/"><i class="fa fa-instagram" style="font-size:36px"></i></a>
                <a href="https://web.facebook.com/habib.mustapha.9210"><i class="fa fa-facebook" style="font-size:36px"></i></a>
                <a href="https://twitter.com/Habib49485244"><i class="fa fa-twitter" style="font-size:36px"></i></a>
                <a href="https://github.com/Habib1258"><i class="fa fa-github" style="font-size:36px"></i></a>
        </div>
        
        
    </div>
    <div style="margin-bottom: 200px;"></div>

    <script src="{% static "/JS/index.js" %}"></script>
        
