{% load static %}
<html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>BuyBay</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="icon" ico href="{% static "img/LO.png" %}">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/item.css" %}">
    
    
</head>
<body>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{% static "img/LO.png" %}">
                </div>
            </div>


            <div class="sidebar">
                <a href="index.html" >
                    <span class="material-icons-sharp">
                        home
                        </span>
                    <h3>Homepage</h3>
                </a>
                <a href="profil.html">
                    <span class="material-icons-sharp">
                        account_circle
                        </span>
                    <h3>Profil</h3>
                </a>
                
                
                <a href="#">
                    <span class="material-icons-sharp">
                        category
                    </span>
                    <h3>Categorie</h3>
                </a>
                <ul class="lis">
                    <a href="cars.html" id="a1"><li><img src="{% static "/img/icons8-car-50 (1).png" %}" width="15px"> Cars</li></a> 
                    <a href="im.html" id="a1"><li><img src="{% static "/img/icons8-home-50.png" %}" width="15px"> Houses</li></a>
                    <a href="pie.html" id="a1"><li><img src="{% static "/img/icons8-watch-64.png" %}" width="15px"> Accesories</li></a>
                    <a href="cars.html" id="a1"><li><img src="{% static "/img/icons8-laptop-50 (1).png" %}" width="15px"> Laptop & Phones</li></a> 
                    <a href="pie.html" id="a1"><li><img src="{% static "/img/icons8-jacket-50.png" %}" width="15px"> Clothing</li></a>
                    <a href="cars.html" id="a1"><li ><img src="{% static "/img/icons8-washing-machine-24 (1).png" %}" width="15px"> home applience</li></a>
                    <a></a>
                </ul>
            </div>
        </aside>

        <main>
            
            <div class="sear">
                
                <a href="#">
                    <input type="text" placeholder="Search...">
                    <button type="submit" class="bouu"><img src="{% static "/img/sharp_search_black_18dp.png" %}" alt=""></button>
                </a>
            </div>
           <!--cars-->
            <br>
           
            <div class="conte">
                <a href="cars.html">
                    <button class="ret">
                        <span class="material-icons-sharp">
                            keyboard_return
                        </span>
                    </button>
                </a>
                <br>
                <br>
                {% for car in cars|slice:"1" %}
                <div class="blo-1">
                        <h1 style="text-decoration: underline;"> {{car.brand}} {{car.model}} </h1>
                        
                            <br>
                        <div class="slider">    
                            <div class="slides">
                                <img src="{% static "/img/golf.jpg" %}" class="images"  >
                                <img src="{% static "/img/golf1.jpg" %}" class="images" >
                                <img src="{% static "/img/golf2.jpg" %}" class="images" >
                                <img src="{% static "/img/golf3.jpg" %}" class="images" >
                                <br>
                            </div>
                            <div class="button">
                                <button class="pr" onclick="moveSlide(-1)"><</button>
                                <button class="ne" onclick="moveSlide(1)">></button><br><br>
                            </div>
                        </div>
                            <h2 style="text-decoration: underline;">Prix : <span class="danger"> {{car.price}}</span></h2><br>
                            <h3><span class="cara">  - Brand :</span> {{car.brand}}</h3><br>
                            <h3><span class="cara">  - Model :</span> {{car.model}}</h3><br>
                            <h3><span class="cara">  - Year :</span> {{car.year}}</h3><br>
                            <h3><span class="cara">  - Engine :</span> {{car.engine}}</h3><br>
                            <h3><span class="cara">  - Fuel :</span> {{car.fuel}}</h3><br>
                            <h3><span class="cara">  - mileage:</span> {{car.mileage}}</h3><br>
                            <h2 style="text-decoration: underline;">Description : </h2><br>
                            <h3>{{car.des}} </h3>
                            <div class="like-container">
                                
                            </div>
                            <br>
                </div>
                {% endfor %}
            </div>  
            <br>    
            <div class="conte">
                
                <div class="blo1">
                    <h1 style="text-decoration: underline;">Contact : </h1>
                        <br>
                    {% for per in person%}
                        <div class="co"><span class="ico">
                            <i class="fa fa-user"></i>
                        </span><h2>Name : {{ per.nom }}  {{ per.prenom }} </h2><br></div>
                        <div class="co"><span class="ico">
                            <i class="fa fa-phone"></i>
                        </span><h2>Phone :<span class="po">  {{ per.num_telephone }} </span></h2><br></div>
                        <div class="co"><span class="ico">
                            <i class="fa fa-envelope"></i>
                        </span><h2>E-mail : <span class="em">{{ per.email }}</span><br></div>
                    {%endfor%}
                      
            </div>
            </div>
            <br>
            <div class="Social">
                <div class="header">
                    <h2>Social Media </h2>
                    <br>
                        <a href="https://www.instagram.com/habib__mustapha/"><i class="fa fa-instagram" id="icon" style="font-size:36px"></i></a>
                        <a href="https://web.facebook.com/habib.mustapha.9210"><i class="fa fa-facebook" id="icon" style="font-size:36px"></i></a>
                        <a href="https://twitter.com/Habib49485244"><i class="fa fa-twitter" id="icon" style="font-size:36px"></i></a>
                        <a href="https://github.com/Habib1258"><i class="fa fa-github" id="icon" style="font-size:36px"></i></a>
                </div>
                
                
            </div>
        </main>
        <!-- end main content--> 
        <div class="cont">
            <div class="nav">
                <a href="new.html"><div class="add">
                    <span class="material-icons-sharp">
                        add_circle_outline
                    </span>
                </div></a>
                <a href="lo.html">
                    <span class="material-icons-sharp">
                        login
                    </span>
                    <h3>login</h3>
                </a>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
                <div class="prof">
                    <a href="profil.html"><div class="profi">
                        <img src={% static "/img/pro.webp"%} style="width: 20px">
                    </div></a>
                </div>

                
            </div>

            <div class="user-prof">
                <div class="logo">
                    <img src="{% static "img/LO.png" %}">
                    <h2>BuyBay</h2>
                    <h3>Discover, Bid, Buy - Your Way to Great Deals at BuyBay!</h3>
                </div>
            </div>
            <br>
            
        </div>




    
    </div>
    <div style="margin-bottom: 200px;"></div>

    <script src="{% static "/JS/index.js" %}"></script>

    

    

    
    

</body>
</html>