{% load static %}
<html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>BuyBay</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="icon" ico href="{% static "img/LO.png" %}">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/item.css" %}">
    
    
</head>
<body>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{% static "img/LO.png" %}">
                </div>
            </div>


            <div class="sidebar">
                <a href="index.html" >
                    <span class="material-icons-sharp">
                        home
                        </span>
                    <h3>Homepage</h3>
                </a>
                <a href="profil.html">
                    <span class="material-icons-sharp">
                        account_circle
                        </span>
                    <h3>Profil</h3>
                </a>
                
                
                <a href="#">
                    <span class="material-icons-sharp">
                        category
                    </span>
                    <h3>Categorie</h3>
                </a>
                <ul class="lis">
                    <a href="cars.html" id="a1"><li><img src="{% static "/img/icons8-car-50 (1).png" %}" width="15px"> Cars</li></a> 
                    <a href="im.html" id="a1"><li><img src="{% static "/img/icons8-home-50.png" %}" width="15px"> Houses</li></a>
                    <a href="pie.html" id="a1"><li><img src="{% static "/img/icons8-watch-64.png" %}" width="15px"> Accesories</li></a>
                    <a href="cars.html" id="a1"><li><img src="{% static "/img/icons8-laptop-50 (1).png" %}" width="15px"> Laptop & Phones</li></a> 
                    <a href="pie.html" id="a1"><li><img src="{% static "/img/icons8-jacket-50.png" %}" width="15px"> Clothing</li></a>
                    <a href="cars.html" id="a1"><li ><img src="{% static "/img/icons8-washing-machine-24 (1).png" %}" width="15px"> home applience</li></a>
                    <a></a>
                </ul>
            </div>
        </aside>

        <main>
            
            <div class="sear">
                
                <a href="#">
                    <input type="text" placeholder="Search...">
                    <button type="submit" class="bouu"><img src="{% static "/img/sharp_search_black_18dp.png" %}" alt=""></button>
                </a>
            </div>
           <!--cars-->
            <br>
           
            <div class="conte">
                <a href="cars.html">
                    <button class="ret">
                        <span class="material-icons-sharp">
                            keyboard_return
                        </span>
                    </button>
                </a>
                <br>
                <br>
                {% for laptop in laptop_phones %}
                <div class="blo-1">
                        <h1 style="text-decoration: underline;">{{ laptop.brand }} {{ laptop.model }}</h1>
                        
                            <br>
                        <div class="slider">    
                            <div class="slides">
                                <img src=" {{ laptop.image }}" class="images"  >
                                <img src=" {{ laptop.image }}" class="images" >
                                <img src=" {{ laptop.image }}" class="images" >
                                <img src=" {{ laptop.image }}"  class="images" >
                                <br>
                            </div>
                            <div class="button">
                                <button class="pr" onclick="moveSlide(-1)"><</button>
                                <button class="ne" onclick="moveSlide(1)">></button><br><br>
                            </div>
                        </div>

                        <h2 style="text-decoration: underline;">Prix : <span class="danger">{{ laptop.price}}</span></h2><br>
                        <h3><span class="cara">  - Brand :</span> {{ laptop.brand }}</h3><br>                            
                        <h3><span class="cara">  - Model :</span> {{ laptop.model }}</h3><br>
                        <h3><span class="cara">  - Processor :</span> {{ laptop.processor }}</h3><br>
                        <h3><span class="cara">  - RAM :</span> {{ laptop.ram }}</h3><br>
                        <h3><span class="cara">  - ROM :</span> {{ laptop.rom }}</h3><br>
                        <h3><span class="cara">  - Dispaly :</span> {{ laptop.display }}</h3><br>
                        <h3><span class="cara">  - Graphic_card :</span> {{ laptop.graphic_card }}</h3><br>
                        <h2 style="text-decoration: underline;">Description : </h2><br>
                        <h3>{{ laptop.description }} </h3>
                           
                        <br>
                </div>
                {% endfor %}
            </div>  
            <br>    
            <div class="conte">
                
                <div class="blo1">
                        <h1 style="text-decoration: underline;">Contact : </h1>
                            <br>
                        {% for per in person%}
                            <div class="co"><span class="ico">
                                <i class="fa fa-user"></i>
                            </span><h2>Name : {{ per.nom }}  {{ per.prenom }} </h2><br></div>
                            <div class="co"><span class="ico">
                                <i class="fa fa-phone"></i>
                            </span><h2>Phone :<span class="po">  {{ per.num_telephone }} </span></h2><br></div>
                            <div class="co"><span class="ico">
                                <i class="fa fa-envelope"></i>
                            </span><h2>E-mail : <span class="em">{{ per.email }}</span><br></div>
                        {%endfor%}
                          
                </div>
            </div>
            <br>
            
        </main>
        <!-- end main content--> 
        <div class="cont">
            <div class="nav">
                <a href="new.html"><div class="add">
                    <span class="material-icons-sharp">
                        add_circle_outline
                    </span>
                </div></a>
                <a href="lo.html">
                    <span class="material-icons-sharp">
                        login
                    </span>
                    <h3>login</h3>
                </a>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
                <div class="prof">
                    <a href="profil.html"><div class="profi">
                        <img src={% static "/img/pro.webp"%} style="width: 20px">
                    </div></a>
                </div>

                
            </div>

            <div class="user-prof">
                <div class="logo">
                    <img src="{% static "img/LO.png" %}">
                    <h2>BuyBay</h2>
                    <h3>Discover, Bid, Buy - Your Way to Great Deals at BuyBay!</h3>
                </div>
            </div>
            <br>
            
        </div>




    
    </div>
    <div style="margin-bottom: 200px;"></div>

    <script src="{% static "/JS/index.js" %}"></script>

    

    

    
    

</body>
</html>