{% load static %}
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" ico href="{% static "img/LO.png" %}">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/lo.css" %}">
</head>

<body>

    <div class="container1">
        <div class="logo">
            <img src="{% static "img/LO.png" %}" width="210" height="100">
            <h1 style="padding: 10px; text-decoration: underline;">Log in</h1>
        </div>

        <div class="ma">

                
                    <label for="first-name">First-Name</label>
                    <div class="in">
                        <input class="inpu" type="text" name="first-name" placeholder="first-name" required>
                        <span class="ico">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>

                
                    <label for="name">name</label>
                    <div class="in">
                        <input class="inpu" type="text" name="name" placeholder="Name" required>
                        <span class="ico">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                

                
                    <label for="email">E-mail</label>
                    <div class="in">
                        <input class="inpu" type="mail" name="email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        <span class="ico">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>

                    
                

                
                    <label for="password">password</label>
                    <div class="in">
                        <input class="inpu" type="password" name="password" placeholder="Password" required>
                        <span class="ico">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <br>
                    <a href="mod.html"><button >Moderator</button></a>
                

                    <a href="index.html"><button class="but" type="submit" value=""><h2 style="font-size: large;">LOG IN</h2> </button></a>
                    
                
                <p class="p">If you don't have an acount, <a href="si.html" style="color: blue;"> sign up here!</a></p>
        </div>
    </div>
    <div style="margin-bottom: 200px;"></div>
</body>

</html>