{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/mod.css" %}">
<title>BuyBay Moderator Panel</title>

</head>
<body>

<header>
    <h1>BuyBay Moderator Panel</h1>
</header>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>brand</th>
                <th>model</th>
                <th>image</th>
                <th>des</th>
                <th>price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
                <tr id="car-{{ car.id }}">
                    <td>{{car.id}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.model}}</td>
                    <td><img src= "buybay_logic/{{car.image}}" class="images" width="40%"></td>
                    <td class="des">{{car.des}}</td>
                    <td>{{car.price}}</td>
                    <td><button class="btn" data-car-id="{{ car.id }}">Approve</button> 
                        <button class="btn">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>

</body>
</html>