{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/mod.css" %}">
<title>BuyBay Moderator Panel</title>

</head>
<body>

<header>
    <h1>BuyBay Moderator Panel</h1>
</header>

<div class="container">
    <h1>Unpublished Posts</h1>
            <ul>
                {% for car in car %}
                    <li>{{ car.title }} - {{ car.content }}</li>
                    <form action="{% url  car.id %}" method="car">
                        {% csrf_token %}
                        <button type="submit">Publish</button>
                    </form>
                    <form action="{% url 'delete_car' car.id %}" method="car">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                {% endfor %}
            </ul>
            <br>
</div>

</body>
</html>
