{% load static %}
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" ico href="{% static "img/LO.png" %}">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/lo.css" %}">
</head>

<body>
    
        
    <div class="container1">
        <div class="logo">
            <img src="{% static "img/LO.png" %}" width="210" height="100" class=" ">
            <h1 style="padding: 10px; text-decoration: underline;">Sign Up</h1>
        </div>

        <form class="ma" method="POST" action="">
            {% csrf_token %}
                    <label for="first_name" class="label">First-Name</label>
                    <input class="inpu" type="text" name="first_name" placeholder="First-Name" required>
                    <span class="ico">
                        <i class="fa fa-user"></i>
                    </span>
                    <label for="name" class="label">Name</label>           
                    <input class="inpu" type="text" name="name" placeholder="Name" required>
                    <span class="ico">
                        <i class="fa fa-user"></i>
                    </span>
                    <label for="num_telephone" class="label">Phone Number</label>            
                    <input class="inpu" type="phone" name="num_telephone" placeholder="Phone" required>
                    <span class="ico">
                        <i class="fa fa-phone"></i>
                    </span>
                    <label for="email" class="label">E-mail</label>
                    <input class="inpu" type="mail" name="email" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <span class="ico">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <label for="password" class="label">password</label>
                    <input class="inpu" type="password" name="password" placeholder="Password" required>
                    <span class="ico">
                        <i class="fa fa-lock"></i>
                    </span>
                <button class="but" type="submit"><h2 style="font-size: large;">SIGN UP</h2> </button>
                <p class="p">If you have an acount, <a href="lo.html" style="color: blue;"> Log in here!</a></p>
        </form>
    </div>
    <div style="margin-bottom: 200px;"></div>
</body>

</html>